
services:
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_REGION_NAME: ap-south-1
    command: server /data --console-address ":9001"
    ports:
      - "10000:9000"   # S3 API
      - "10001:9001"   # MinIO Console
    volumes:
      - minio_data:/data
    networks:
      - sru-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 3s
      retries: 5

  createbucket:
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      mc alias set local http://minio:9000 minioadmin minioadmin;
      mc mb -p local/sru || true;
      mc anonymous set download local/sru;
      exit 0;
      "

volumes:
  minio_data:
    driver: local

networks:
  sru-network:
    external: true